<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css"> 
    <title>Coin</title>
  </head>
  <body>
  <header>
    <h1>{{.PageTitle}}</h1>
  </header>
  <main>
    {{range .Blocks}} 
    {{/* .Data는 실제 Blocks 안에 있는 Data를 의미한다. */}}
    {{/* 가져올 값들은 모두 대문자로 시작해야하고 struct에 있는 field명과 같아야한다. */}}
    <section>
      <ul>
        <li>{{.Data}}</li>
        <li>{{.Hash}}</li>
        <li>{{.PrevHash}}</li>
      </ul>
    <section>
    {{end}}
  </main>
  </body>
</html>
